*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #1A535C;
    text-align: center;
    padding: 3rem;
}

h1{
    color:#ff6b6b ;
    font-style: italic;
    font-variant-ligatures: discretionary-ligatures;
}


.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height:60vmin  ;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;


}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem black(0,0,0,1);
    font-size: 8vmin;
   background-color: #4ECDC4 ;
   color: #F7FFF7;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: aliceblue;
    border-radius: 1rem;
    border: none;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: aliceblue;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: #FFE66D;
    font-size: 5vmin;
}

.msg-container{
    height: 30vmin;
}

.hide{
    display: none;
}